Django==1.7.1
argparse==1.2.1
django-bootstrap3==5.0.3
django-extensions==1.4.6
httplib2==0.9
ipython==2.3.1
redis==2.10.3
six==1.8.0
wsgiref==0.1.2
djangorestframework
markdown
django-filter
gunicorn==17.5
gevent==0.13.8
